html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya/Alegreya-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya/Alegreya-Medium.ttf");
    font-weight: normal;
}


h1, h2, h3 {
    font-family: "Alegreya";
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 20pt
}

p {
    font-size: 14pt
}

p {
    font-family: "Roboto";
    font-weight: normal;
}

p.promo-text {
    font-weight: bold;
}

a.cta-link {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14pt;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

section#hero-section {
    color: white;
    background-color: black;
    background-image: url("images/hero-image.jpg");
    background-position: center;
    background-size: cover;
}

.opaque-container {
    background-color: rgba(0,0,0,0.25);
    flex-basis:100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    margin-top: 30px;
    display: inline;
    width: 160px;
    margin-bottom: 50px
}

section#values-section {
    padding: 40px;
}

section#footer {
    background-color: #DCC004;
}